<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364056113882-h8q8q35bjdgp80frh025r5eotg5qp5k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364056113882-h8q8q35bjdgp80frh025r5eotg5qp5k1</string>
	<key>API_KEY</key>
	<string>AIzaSyD_vzz2U3fdp4QwCnRm-XvUEr1LlLnIKkc</string>
	<key>GCM_SENDER_ID</key>
	<string>364056113882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lol.Potluck</string>
	<key>PROJECT_ID</key>
	<string>potluck-d620f</string>
	<key>STORAGE_BUCKET</key>
	<string>potluck-d620f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364056113882:ios:dbf53a54a6403c17a8abe3</string>
	<key>DATABASE_URL</key>
	<string>https://potluck-d620f.firebaseio.com</string>
</dict>
</plist>